<h1 style="color:white"> Piece which you'd like </h1>

<hr>
<%= render 'normalpage'%>
<hr>

<h4 style = "color: white">저기요..!</h4><br>
<ul>

  <% if user_signed_in? %>
    <% @user_posts.each do |up| %>
      <% if up.current_user_id == current_user.id || up.this_user_id == current_user.id %>
        <li><%= link_to up.title, post_path %></li>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to '로그인하고 오세요^^', new_user_session_path %>
  <% end %>

</ul>

<%= render 'form', post: @post %>
